html,
body {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: "Geist Regular";
  src: url("../fonts/Geist/regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geist Medium";
  src: url("../fonts/Geist/medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noheim Medium";
  src: url("../fonts/Nohemi/medium.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Mulish Regular";
  src: url("../fonts/Mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --white: #ffffff;
  --primary: #1a1d21;
  --geist-regular: "Geist Regular";
  --geist-medium: "Geist Medium";
  --noheim-medium: "Noheim Medium";
  --mulish-regular: "Mulish Regular";
}
